<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-16 mb-4 mx-auto">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p class="text-center text-gray-700 text-lg font-bold mb-6">MODIFIER MES INFORMATIONS</p>

  <div class="mb-6">
  <%= f.label :Adresse_Email, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= f.email_field :email, autofocus: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-green-300 outline-none", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-6">
  <%= f.label :Mot_de_passe, class: "block text-gray-700 text-sm font-bold mb-2" %> <i class="italic text-gray-500">(Laisser vide si vous ne voulez pas changer de mot de passe)</i><br />
    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", autocomplete: "Nouveau mot de passe" %>
    <% if @minimum_password_length %>
      <br />
      <em class="italic text-gray-500">(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label :Confirmation_du_mot_de_passe, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", autocomplete: "Nouveau mot de passe" %>
  </div>

  <div class="mb-6">
    <%= f.label :Mot_de_passe_actuel, class: "block text-gray-700 text-sm font-bold mb-2" %> <i class="italic text-gray-500">(Nous avons besoin de votre mot de passe actuel pour valider vos modifications)</i><br />
    <%= f.password_field :current_password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", autocomplete: "Mot de passe actuel" %>
  </div>

  <div class="text-center">
  <%= f.submit "Valider mes modifications", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:border-green-300 outline-none" %>
  </div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Unhappy? <%= button_to "Supprimer définitivement mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete %></p>

<%= link_to "Retour", :back %>

</div>

<p class="text-center text-gray-500 text-xs">&copy;2020 Metis Lab. All rights reserved.</p>





<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
