<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-4 mx-auto">

<%= form_for(current_user, url: user_path(current_user), method: :put) do |f| %>

  <p class="text-center text-gray-700 text-lg font-bold mb-6">MODIFIER MES INFORMATIONS</p>

  <div class="flex mb-6">
    <div>
      <%= f.label :Prénom, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :first_name, autocomplete: :first_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", placeholder: "#{
        if @user.first_name.nil?
          "John"
        else
          @user.first_name
        end
      }" %>
    </div>
    <div>
      <%= f.label :Nom, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :last_name, autocomplete: :last_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", placeholder: "#{
        if @user.last_name.nil?
          "Doe"
        else
          @user.last_name
        end
      }" %>
    </div>
  </div>

  <div class="flex justify-center">
    <%= f.submit "Valider", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded border-none outline-none" %>
    <%= link_to "Retour", :back, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 ml-2 rounded border-none outline-none" %>
  </div>

<% end %>

</div>

<p class="text-center text-gray-500 my-4 text-xs">&copy;2020 Metis Lab. All rights reserved.</p>