<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-4 mx-auto">

<p class="text-center text-gray-700 text-lg font-bold mb-6">MON PROFIL</p>

<div class="text-gray-600 my-5">
  <div class="flex justify-center text-3xl uppercase mb-3">
    <% if @user.first_name.nil? %>
      <p class="italic">Prénom</p>
    <% else %>
      <p><%= @user.first_name %></p>
    <% end %>
    <div class="mx-2"></div>
    <% if @user.last_name.nil? %>
      <p class="italic">Nom</p>
    <% else %>
      <p><%= @user.last_name %></p>
    <% end %>
  </div>
  <p class="text-center text-gray-700 text-xl mb-10"><%= @user.email %></p>
</div>

<div class="flex justify-center">
  <%= link_to "Informations", edit_user_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded border-none outline-none" %>
  <%= link_to "Compte", edit_user_registration_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 ml-2 rounded border-none outline-none" %>
  <%= link_to "Retour", :back, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 ml-2 rounded border-none outline-none" %>
</div>

</div>

<p class="text-center text-gray-500 my-4 text-xs">&copy;2020 Metis Lab. All rights reserved.</p>