<%# 
<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-6 mx-auto">

  <h1 class="text-center text-gray-700 text-lg font-bold mb-6">ÉQUIPE</h1>
  
  L’EQUIPE
Maxime
Touche à tout, cet ex-ingénieur en mécanique est notre homme du back-end. La tête pleine de projets, Maxime est un futur digital nomade.

Tantely
Homme silencieux, son travail n’en est pas moins chirurgical. Sa gestion de BDD peut l’emmener jusqu’au bout de la nuit, de quoi bien se former à devenir dev par la suite.

Josh
Discret mais éfficace, Josh est le couteau suisse du projet, il touche à tout et dépanne dans toutes les situations.

Raph
La légende chez Pilea dit que seul le front trouve grâce à ses yeux. Avec sa grosse capacité de travail, il pourra vous accompagner au bout de la nuit. On se sait toujours pas si cet homme a besoin de sommeil.

Thibault
<p>Il aime réfléchir, toujours un mot pour rire, il va continuer ce projet après la formation</p>

</div> %>

<div class="p-2">
  <h1 class="text-center text-gray-600 text-lg font-bold mt-6 mb-2">ÉQUIPE PILEA</h1>
    <div class=" w-full grid md:grid-cols-3 sm:grid-cols-1 lg:grid-cols-5">
      <style>
        button {
        background-color: #38A169;
        box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 10px #5B607A;
        }
        button:hover {
        box-shadow: 0 0 0 0 #ec008c, 0.2rem 0.2rem 20px #5B607A;
        }
      </style>

    <!-- THIBAULT -->
    <div class="flex justify-center items-center mb-2">
      <div class=" w-10/12 container mx-auto rounded-lg overflow-hidden shadow-lg bg-green-600">
        <div class="relative">
          <%= image_tag(('team_thibault.jpg'), class: "w-full") %>
          <div class="text-right tracking-wide absolute w-full -mt-12 -ml-3">
            <button class="p-1 rounded-full transition ease-in duration-200 focus:outline-none">
              <a title="Contact" href="https://thehackingproject.org">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-8 h-8"><path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601,C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399,C15.952,9,16,9.447,16,10z"/></svg>
              </a>
            </button>
          </div>
        </div>
        <div class="py-4 px-5 text-center tracking-wide">
          <p class="text-white tracking-wide uppercase text-lg font-bold border-green-500 border-b-2 pb-3 mb-3">
            Thibault
          </p>
          <p class="text-white tracking-wide text-sm mb-1">
            Instigateur du projet et coordinateur de l'équipe, il promet pour la suite de Pilea un avenir radieux et ambitieux
          </p>
        </div>
      </div>
    </div>
    <!-- THIBAULT -->

    <!-- MAXIME -->
    <div class="flex justify-center items-center mb-2">
      <div class=" w-10/12 container mx-auto rounded-lg overflow-hidden shadow-lg bg-green-600">
        <div class="relative">
          <%= image_tag(('team_maxime.jpg'), class: "w-full") %>
          <div class="text-right tracking-wide absolute w-full -mt-12 -ml-3">
            <button class="p-1 rounded-full transition ease-in duration-200 focus:outline-none">
              <a title="Contact" href="https://thehackingproject.org">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-8 h-8"><path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601,C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399,C15.952,9,16,9.447,16,10z"/></svg>
              </a>
            </button>
          </div>
        </div>
        <div class="py-4 px-5 text-center tracking-wide">
          <p class="text-white tracking-wide uppercase text-lg font-bold border-green-500 border-b-2 pb-3 mb-3">
            Maxime
          </p>
          <p class="text-white tracking-wide text-sm mb-1">
            Cet ex-ingénieur en mécanique, polyvalent et la tête pleine de projets, est un futur digital nomade.
          </p>
        </div>
      </div>
    </div>
    <!-- MAXIME -->

    <!-- RAPHAEL -->
    <div class="flex justify-center items-center mb-2">
      <div class=" w-10/12 container mx-auto rounded-lg overflow-hidden shadow-lg bg-green-600">
        <div class="relative">
          <%= image_tag(('team_raphael.jpg'), class: "w-full") %>
          <div class="text-right tracking-wide absolute w-full -mt-12 -ml-3">
            <button class="p-1 rounded-full transition ease-in duration-200 focus:outline-none">
              <a title="Contact" href="https://thehackingproject.org">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-8 h-8"><path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601,C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399,C15.952,9,16,9.447,16,10z"/></svg>
              </a>
            </button>
          </div>
        </div>
        <div class="py-4 px-5 text-center tracking-wide">
          <p class="text-white tracking-wide uppercase text-lg font-bold border-green-500 border-b-2 pb-3 mb-3">
            Raphael
          </p>
          <p class="text-white tracking-wide text-sm mb-1">
            Le design n'a aucun secret pour lui. Malgré sa grosse capacité de travail, la légende raconte qu'il dort, parfois. 
          </p>
        </div>
      </div>
    </div>
    <!-- RAPHAEL -->

    <!-- TANTELY -->
    <div class="flex justify-center items-center mb-2">
      <div class=" w-10/12 container mx-auto rounded-lg overflow-hidden shadow-lg bg-green-600">
        <div class="relative">
          <%= image_tag(('team_tantely.jpg'), class: "w-full") %>
          <div class="text-right tracking-wide absolute w-full -mt-12 -ml-3">
            <button class="p-1 rounded-full transition ease-in duration-200 focus:outline-none">
              <a title="Contact" href="https://thehackingproject.org">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-8 h-8"><path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601,C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399,C15.952,9,16,9.447,16,10z"/></svg>
              </a>
            </button>
          </div>
        </div>
        <div class="py-4 px-5 text-center tracking-wide">
          <p class="text-white tracking-wide uppercase text-lg font-bold border-green-500 border-b-2 pb-3 mb-3">
            Tantely
          </p>
          <p class="text-white tracking-wide text-sm mb-1">
            Grâce à sa gestion de base de données légendaire et son code chirurgical, il fait des ravages en backend
          </p>
        </div>
      </div>
    </div>
    <!-- TANTELY -->

    <!-- JOSUE -->
    <div class="flex justify-center items-center mb-2">
      <div class=" w-10/12 container mx-auto rounded-lg overflow-hidden shadow-lg bg-green-600">
        <div class="relative">
          <%= image_tag(('team_josue.jpg'), class: "w-full") %>
          <div class="text-right tracking-wide absolute w-full -mt-12 -ml-3">
            <button class="p-1 rounded-full transition ease-in duration-200 focus:outline-none">
              <a title="Contact" href="https://thehackingproject.org">
                <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-8 h-8"><path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601,C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399,C15.952,9,16,9.447,16,10z"/></svg>
              </a>
            </button>
          </div>
        </div>
        <div class="py-4 px-5 text-center tracking-wide">
          <p class="text-white tracking-wide uppercase text-lg font-bold border-green-500 border-b-2 pb-3 mb-3">
            Josue
          </p>
          <p class="text-white tracking-wide text-sm mb-1">
            Aussi discret qu'efficace, ce couteau suisse touche-à-tout peut vous dépanner dans toutes les situations.
          </p>
        </div>
      </div>
    </div>
    <!-- JOSUE -->

  </div>
</div>

<!-- REMERCIEMENTS -->
<p class="text-center font-semibold text-gray-500 text-sm">
  Nous tenons à remercier chaleureusement l'équipe de
  <%= link_to 'The Hacking Project', 'https://thehackingproject.org', target: "_blank", class: "text-white"%>
  pour leur formation de grande qualité ainsi que nos mentors
  <%= link_to 'Claire', 'https://thehackingproject.org', target: "_blank", class: "text-white"%>
  et
  <%= link_to 'Juliette', 'https://thehackingproject.org', target: "_blank", class: "text-white"%>
  pour tout leur temps, leur expertise, et leurs précieux conseils.
<p>
<!-- REMERCIEMENTS -->