<% provide(:title, " | Profil") %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-6 mx-auto">

<!-- FORM -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <p class="text-center text-gray-700 text-lg font-bold mb-6">CONNEXION</p>

  <div class="mb-6">
    <%= f.label :Adresse_mail, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-green-300 outline-none", placeholder: "exemple@mail.com" %>
  </div>

  <div class="mb-6">
    <%= f.label :Mot_de_passe, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:border-green-300 outline-none", placeholder: "***************" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-6 flex justify-center">
      <%= f.check_box :remember_me, class: "bg-green-500 mt-1" %>
      <%= f.label :Se_souvenir_de_moi, class: "text-gray-700 text-sm font-bold ml-2 mb-1" %>
    </div>
  <% end %>

  <div class="flex justify-center my-2">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Inscription", new_registration_path(resource_name), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mr-2 rounded outline-none" %>
    <% end %>
    <%= f.submit "Se connecter", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded outline-none" %>
    <%= link_to "Retour", :back, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 ml-2 rounded outline-none" %>
  </div>
  <div class="text-center">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-600" %>
    <% end %>
  </div>
  <div class="text-center">
    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Débloquer mon compte", new_unlock_path(resource_name), class: "inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-600" %>
    <% end %>
  </div>
  <div class="text-center">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Se connecter en tant que #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "inline-block align-baseline font-bold text-sm text-gray-500 hover:text-gray-600" %>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- FORM -->

</div>