<% provide(:title, " | Favoris") %>

<%= render 'assets/transition' %>

<!-- SELECTED COINS DATATABLE -->
<div class="w-full bg-white tracking-wider z-10 leading-normal">
  <div id="index" class="p-6">
    <table id="table_selections" class="stripe hover mx-auto">
      <thead>
        <tr class="text-gray-700">
          <th>Nom</th>
          <th data-priority="1">Évolution Prix</th>
          <th>Prix</th>
          <th>Volume</th>
          <th>Capitalisation</th>
        </tr>
      </thead>
      <tbody>				
        <% @selections.each do |coin| %>
          <tr class="uppercase text-center">
            <td>
              <%= link_to image_tag((coin.logo), class: "w-5 h-5 lg:w-10 lg:h-10 lg:-mb-6 mr-2 rounded-full"), coin_path(coin) %>
              <%= coin.name %>
            </td>
            <td class="chart-container">
              <canvas id="selections-chart-<%= coin.name %>" width="40" height="15"></canvas>
            </td>
            <td>
              <%= link_to coin.last_price, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_volume, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_market_cap, coin_path(coin), class: "flex justify-center" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- SELECTED COINS DATATABLE -->

<%= javascript_include_tag 'table_selections' %>
<%= render 'assets/charts_selections.js' %>