<% provide(:title, " - Favoris") %>
<%= render 'layouts/transition' %>

<!-- Selections Index -->
<div class="w-full bg-white tracking-wider z-10 leading-normal">
  <div id="index" class="p-6">
    <table id="selected-coins" class="stripe hover mx-auto">
      <thead>
        <tr class="text-gray-700">
          <th>Nom</th>
          <th data-priority="1">Évolution Prix</th>
          <th>Prix</th>
          <th>Volume</th>
          <th>Capitalisation</th>
        </tr>
      </thead>
      <tbody>				
        <% @selections.each do |coin| %>
          <tr class="uppercase text-center">
            <td>
              <%= link_to image_tag((coin.logo), class: "w-5 h-5 lg:w-10 lg:h-10 lg:-mb-6 mr-2 rounded-full"), coin_path(coin) %>
              <%= coin.name %>
            </td>
            <td class="chart-container">
              <canvas id="selections-line-chart-<%= coin.name %>" width="40" height="15"></canvas>
            </td>
            <td>
              <%= link_to coin.last_price, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_volume, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_market_cap, coin_path(coin), class: "flex justify-center" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- Selections Index -->

<!-- DataTables -->
<script>
$(document).ready(function() {
  
  var table = $('#selected-coins').DataTable( {
      responsive: true
    } )
    .columns.adjust()
    .responsive.recalc();
} )
</script>
<!-- DataTables -->

<!-- Chart.js -->
<% @selections.each do |coin| %>
<script>
new Chart(document.getElementById("selections-line-chart-<%= coin.name %>"), {
  type: 'line',
  data: {
    labels: [
      <% coin.hourly.last(170).each do |value| %>
        "<%= Time.at((value.time)/1000).strftime("%^a %R") %>",    
      <% end %>
    ],
    datasets: [{
      label: "<%= coin.symbol.upcase %> / USD",
      borderColor: "#48bb78",
      data: [
        <% coin.hourly.last(170).each do |value| %>
          <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
        <% end %>
      ],
      fill: false
    }]
  },
  options: {
    maintainAspectRatio: true,
    title: {
      display: false,
      gridLines: {
        display: false,
        drawBorder: false
      },
    },
    elements: {
        point:{
          radius: 0
        }
    },
    legend: { display: false },
    scales: {
      xAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }],
      yAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }]
    },
  }
});
</script>
<% end %>
<!-- Chart.js -->