<style>
  /*Overrides for Tailwind CSS */
  
  /*Form fields*/
  .dataTables_wrapper select,
  .dataTables_wrapper .dataTables_filter input {
    color: #4a5568; 			/*text-gray-700*/
    padding-left: 1rem; 		/*pl-4*/
    padding-right: 1rem; 		/*pl-4*/
    padding-top: .5rem; 		/*pl-2*/
    padding-bottom: .5rem; 		/*pl-2*/
    line-height: 1.25; 			/*leading-tight*/
    border-width: 2px; 			/*border-2*/
    border-radius: .25rem; 		
    border-color: #edf2f7; 		/*border-gray-200*/
    background-color: #edf2f7; 	/*bg-gray-200*/
  }

  /*Row Hover*/
  table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f0fff4;	/*bg-green-100*/
  }
  
  /*Pagination Buttons*/
  .dataTables_wrapper .dataTables_paginate .paginate_button		{
    font-weight: 700;				/*font-bold*/
    border-radius: .25rem;			/*rounded*/
    border: 1px solid transparent;	/*border border-transparent*/
  }
  
  /*Pagination Buttons - Current selected */
  .dataTables_wrapper .dataTables_paginate .paginate_button.current	{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #48bb78 !important;		/*bg-green-500*/
    border: 1px solid transparent;		/*border border-transparent*/
  }

  /*Pagination Buttons - Hover */
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #48bb78 !important;		/*bg-green-500*/
    border: 1px solid transparent;		/*border border-transparent*/
  }
  
  /*Add padding to bottom border */
  table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  
  /*Change colour of responsive icon*/
  table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #48bb78 !important; /*bg-green-500*/
  }
</style>

<!-- Hero Header -->
<div class="py-10 bg-green-600 z-30">
	<div class="container text-gray-200 px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<div class="flex flex-col w-full md:w-2/5 justify-center items-center text-center md:text-left">
			<h1 class="my-4 text-5xl font-bold uppercase text-center leading-tight">
        Le comparateur de cryptomonnaies facile d'accès
      </h1>
			<p class="leading-normal text-xl font-light text-center mb-8">
        Blockchain, tokens, trading... les cryptos au début c'est compliqué, mais ça vient de changer. Avec Pilea, que tu sois juste curieux ou déjà un maître de la blockchain, toutes les infos dont tu as besoin sont ici. Tu peux comparer les données des plus importantes cryptos du marché très simplement, fini de se prendre la tête !
      </p>
      <p class="uppercase tracking-loose font-bold text-center w-full">
        Service entièrement libre et gratuit
      </p>
			<button href="#index" class="mx-auto uppercase shadow-lg hover:shadow-3xl bg-gray-200 text-green-500 hover:text-green-700 font-bold text-xl rounded-full z-40 my-6 py-4 px-32 shadow-lg">
        Découvrir
      </button>
		</div>

		<div class="w-full md:w-3/5 pb-16 pt-6 flex justify-center text-center">
			<img class="w-3/5 h-3/5 relative z-40" src="<%= image_path('hero.png') %>">
		</div>
	</div>
</div>


<div class="relative z-20 bg-green-600 -mt-12 lg:-mt-24">
	<svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
        <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
        <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
      </g>
      <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
      </g>
    </g>
	</svg>
</div>
<!-- Hero Header -->

<!-- COINS#INDEX -->
<div class="w-full bg-white tracking-wider z-10 leading-normal">

  <div id="index" class="p-6">
    
    <table id="all-coins" class="stripe hover mx-auto">
      <thead>
        <tr class="text-gray-700">
          <th>Nom</th>
          <th data-priority="1">Évolution Prix</th>
          <th>Prix</th>
          <th>Volume</th>
          <th>Capitalisation</th>
          <th data-priority="1"></th>
        </tr>
      </thead>
      <tbody>				
        <% @coins.each do |coin| %>
          <tr class="uppercase text-center">
            <td>
              <a href="<%= coin_path(coin) %>" class="flex justify-center">
                <img class="w-5 h-5 lg:w-10 lg:h-10 lg:-mt-2 mr-2 rounded-full" src="<%= coin.logo %>" alt="Logo <%= coin.name %>">
                <%= coin.name %>
              </a>
            </td>
            <td class="chart-container">
              <canvas id="line-chart-<%= coin.name %>" width="40" height="15"></canvas>
            </td>
            <td>
              <a href="<%= coin_path(coin) %>" class="flex justify-center">
                <%= number_to_currency(coin.values.hourly.last.price, :unit => "$ ", :delimiter => ",", :separator => ".") %>
              </a>
            </td>
            <td>
              <a href="<%= coin_path(coin) %>" class="flex justify-center">
                <%= number_to_currency(coin.values.hourly.last.volume, :unit => "$ ", :delimiter => ",", :precision => 0) %>
              </a>
            </td>
            <td>
              <a href="<%= coin_path(coin) %>" class="flex justify-center">
                <%= number_to_currency(coin.values.hourly.last.market_cap, :unit => "$ ", :delimiter => ",", :precision => 0) %>
              </a>
            </td>
            <td>
              <a href="<%= coin_path(coin) %>" class="flex justify-center">
                <svg fill="none" viewBox="0 0 24 24"  class="w-5 h-5 lg:w-8 lg:h-8" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                </svg>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- COINS#INDEX -->

<!-- JavaScripts CDN -->
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js' %>
<!-- JavaScripts CDN -->

<!-- DataTables -->
<script>
$(document).ready(function() {
  
  var table = $('#all-coins').DataTable( {
      responsive: true
    } )
    .columns.adjust()
    .responsive.recalc();
} )
</script>
<!-- DataTables -->

<!-- Chart.js -->
<% @coins.each do |coin| %>
<script>
new Chart(document.getElementById("line-chart-<%= coin.name %>"), {
  type: 'line',
  data: {
    labels: [
      <% coin.hourly.last(170).each do |value| %>
        "<%= Time.at((value.time)/1000).strftime("%^a %R") %>",    
      <% end %>
    ],
    datasets: [{
      label: "Prix (USD)",
      borderColor: "#48bb78",
      data: [
        <% coin.hourly.last(170).each do |value| %>
          <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
        <% end %>
      ],
      fill: false
    }]
  },
  options: {
    maintainAspectRatio: true,
    title: {
      display: false,
      gridLines: {
        display: false,
        drawBorder: false
      },
    },
    elements: {
        point:{
          radius: 0
        }
    },
    legend: { display: false },
    scales: {
      xAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }],
      yAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }]
    },
  }
});
</script>
<% end %>
<!-- Chart.js -->