<div class="chart-container relative w-2/4 h-1/12 rounded-lg p-5 bg-white" >
<canvas id="mixed-chart"></canvas>
</div>

<script>
new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: ["13h","14h","15h","16h","17h","18h","19h","20h","21h","22h","23h","00h","01h","02h","03h","04h","05h","06h","07h","08h","09h","10h","11h","12h"],
      datasets: [{
          label: "Binance",
          type: "line",
          borderColor: "#3e95cd",
          data: [<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>],
          fill: false
        }, {
          label: "Binance",
          type: "bar",
          backgroundColor: "rgba(0,0,0,0.2)",
          backgroundColorHover: "#3e95cd",
          data: [<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>]
        }
      ]
    },
    options: {
      title: { display: false },
      legend: { display: false }
    }
});
</script>

<div class="chart-container relative w-1/4 h-40 rounded-lg p-2 bg-white" >
<canvas id="line-chart"></canvas>
</div>

<script>
new Chart(document.getElementById("line-chart"), {
    type: 'line',
    data: {
      labels: ["13h","14h","15h","16h","17h","18h","19h","20h","21h","22h","23h","00h","01h","02h","03h","04h","05h","06h","07h","08h","09h","10h","11h","12h"],
      datasets: [{
          label: "Binance",
          borderColor: "#3e95cd",
          data: [<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>],
          fill: false
        }
      ]
    },
    options: {
      title: { display: false },
      legend: { display: false },
      scales: {
          xAxes: [{
						display: true,
						ticks: {
							callback: function(dataLabel, index) {
								// Hide the label of every 2nd dataset. return null to hide the grid line too
								return null;
							}
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'value',
              beginAtZero: false
						}
					}]
				}
    }
});
</script>