<!-- Hero Header -->
<% unless user_signed_in? %>
<div class="py-10 bg-green-600 -mt-8 z-30">
	<div class="container text-gray-200 px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<div class="flex flex-col w-full md:w-2/5 justify-center items-center text-center md:text-left">
			<h1 class="my-4 text-5xl font-bold uppercase text-center leading-tight">
        Le comparateur de cryptomonnaies facile d'accès
      </h1>
			<p class="leading-normal text-xl font-light text-center mb-8">
        Blockchain, tokens, trading... les cryptos au début c'est compliqué, mais ça vient de changer. Avec Pilea, que tu sois juste curieux ou déjà un maître de la blockchain, toutes les infos dont tu as besoin sont ici. Tu peux comparer les données des plus importantes cryptos du marché très simplement, fini de se prendre la tête !
      </p>
      <p class="uppercase tracking-loose font-bold text-center w-full">
        Service entièrement libre et gratuit
      </p>
      <%= link_to button_tag("REJOINDRE L'AVENTURE", class: "mx-auto uppercase shadow-lg hover:shadow-3xl bg-gray-200 text-green-500 hover:text-green-700 font-bold text-xl rounded-full z-40 my-6 py-4 px-32 shadow-lg"), new_user_registration_path %>
		</div>

		<div class="w-full md:w-3/5 pb-16 pt-6 flex justify-center text-center">
      <%= image_tag(('hero.png'), class: "w-4/5 h-4/5 mx-auto relative z-40") %>
		</div>
	</div>
</div>
<% end %>
<!-- Hero Header -->

<%= render 'layouts/transition' %>

<!-- Coins Index -->
<div class="w-full bg-white tracking-wider z-10 leading-normal">

  <div class="p-6">
    
    <table id="all-coins" class="stripe hover mx-auto">
      <thead>
        <tr class="text-gray-700">
          <th>Nom</th>
          <th data-priority="1">Évolution Prix</th>
          <th>Prix</th>
          <th>Volume</th>
          <th>Capitalisation</th>
          <th data-priority="1"></th>
        </tr>
      </thead>
      <tbody>				
        <% @coins.each do |coin| %>
          <tr class="uppercase text-center">
            <td>
              <%= link_to image_tag((coin.logo), class: "w-5 h-5 lg:w-10 lg:h-10 lg:-mb-6 mr-2 rounded-full"), coin_path(coin) %>
              <%= link_to coin.name, coin_path(coin) %>
            </td class="flex justify-center">
            <td class="chart-container">
              <canvas id="line-chart-<%= coin.name %>" width="40" height="15"></canvas>
            </td>
            <td>
              <%= link_to coin.last_price, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_volume, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td>
              <%= link_to coin.last_market_cap, coin_path(coin), class: "flex justify-center" %>
            </td>
            <td id="likebutton<%=coin.id %>">
              <% if current_user %>
                <% if current_user.already_liked(coin) %>
                  <%= link_to image_tag(('unlike.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selection_path(id: coin), method: :delete, remote:true %>
                <% else %>
                  <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selections_path(id: coin), method: :post, remote:true %>
                <% end %>
              <% else %>
                <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), new_user_registration_path %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="coins-index"></div>
<!-- Coins Index -->

<!-- JavaScripts CDN -->
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js' %>
<!-- JavaScripts CDN -->

<!-- DataTables -->
<script>
$(document).ready(function() {
  
  var table = $('#all-coins').DataTable( {
      responsive: true
    } )
    .columns.adjust()
    .responsive.recalc();
} )
</script>
<!-- DataTables -->

<!-- Chart.js -->
<% @coins.each do |coin| %>
<script>
new Chart(document.getElementById("line-chart-<%= coin.name %>"), {
  type: 'line',
  data: {
    labels: [
      <% coin.hourly.last(170).each do |value| %>
        "<%= Time.at((value.time)/1000).strftime("%^a %R") %>",    
      <% end %>
    ],
    datasets: [{
      label: "<%= coin.symbol.upcase %> / USD",
      borderColor: "#48bb78",
      data: [
        <% coin.hourly.last(170).each do |value| %>
          <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
        <% end %>
      ],
      fill: false
    }]
  },
  options: {
    maintainAspectRatio: true,
    title: {
      display: false,
      gridLines: {
        display: false,
        drawBorder: false
      },
    },
    elements: {
        point:{
          radius: 0
        }
    },
    legend: { display: false },
    scales: {
      xAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }],
      yAxes: [{
        display: true,
        ticks: {
          callback: function(dataLabel) {
            return null;
          }
        }
      }]
    },
  }
});
</script>
<% end %>
<!-- Chart.js -->