<% @coins.each do |coin| %>

<div class="flex justify-between bg-gray-200 text-gray-700 shadow-lg rounded-lg mx-auto my-3 px-8 py-4 w-10/12 border border-red-500">
    <img class="w-16 h-16 rounded-full object-cover my-auto mr-8 shadow border border-red-500" src="<%= coin.logo %>" alt="Logo <%= coin.name %>">
    <div class="w-16 my-auto mr-8 border border-red-500">
      <p class="text-2xl my-auto text-center border border-red-500"><%= coin.symbol %></p>
    </div>
    <div class="chart-container relative px-20 rounded-lg border border-red-500">
      <canvas id="line-chart-<%= coin.name %>"></canvas>
    </div>
    <svg fill="none" viewBox="0 0 24 24"  class="my-auto w-8 h-8 mx-8 border border-red-500" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
    </svg>
</div>

<script>
new Chart(document.getElementById("line-chart-<%= coin.name %>"), {
    type: 'line',
    data: {
      labels: ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"],
      datasets: [{
          label: "Prix",
          borderColor: "#48bb78",
          data: [<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>,<%= rand(1000) %>],
          fill: false
        }
      ]
    },
    options: {
      responsive: true,
      title: { display: false },
      legend: { display: false },
      scales: {
          xAxes: [{
						display: true,
						ticks: {
							callback: function(dataLabel) {
								return null;
							}
						}
					}],
					yAxes: [{
							display: true,
              ticks: {
							callback: function(dataLabel) {
								return null;
							}
						}
					}]
				}
    }
});
</script>

<% end %>

