<div class="bg-gray-200 shadow-2xl rounded-lg mx-auto mt-6 mb-4 px-12 py-4 w-10/12">
  <div class="w-full mx-auto block flex-grow text-gray-700 border-gray-300 border-b-2 lg:flex lg:items-center lg:justify-between">
    <div class="block sm:my-8 flex justify-center">
      <%= link_to image_tag((@coin.logo), class: "w-16 h-16 rounded-full object-cover my-auto shadow-2xl"), root_path %>
      <%= link_to @coin.name, root_path, class: "w-16 my-auto text-lg uppercase font-bold ml-3 text-center" %>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        PRIX

      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_price %>
      </p>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        VOLUME
      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_volume %>
      </p>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        CAPITALISATION
      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_market_cap %>
      </p>
    </div>
    <div id="likebutton<%=@coin.id %>" class="flex justify-center">
      <% if current_user %>
        <% if current_user.already_liked(@coin) %>
          <%= link_to image_tag(('unlike.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selection_path(id: @coin), method: :delete, remote:true %>
        <% else %>
          <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selections_path(id: @coin), method: :post, remote:true %>
        <% end %>
      <% else %>
        <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), new_user_registration_path %>
      <% end %>
      </div>
  </div>
  <div class="w-full mb-5 mt-3 lg:justify-between sm:justify-center">
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="today-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="today-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="week-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="week-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    </div>
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="year-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="year-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    <div class="chart-container relative rounded-lg p-5 mx-auto">
      <canvas id="forever-line-<%= @coin.name %>" width="1000" height="500"></canvas>
    </div>
</div>

<!-- Chart.js -->
<script>
new Chart(document.getElementById("today-line-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: [
            <% @values.hourly.last(26).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%^a %R") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @values.hourly.last(26).each do |value| %>
              <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU PRIX - JOURNÉE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("today-bar-<%= @coin.name %>"), {
    type: 'bar',
    data: {
      labels: [
            <% @values.hourly.last(26).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%^a %R") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "bar",
          backgroundColor: "#38A169",
          backgroundColorHover: "#38A169",
          data: [
            <% @values.hourly.last(26).each do |value| %>
              <%= number_to_currency(value.volume, :unit => "", :separator => ".", :delimiter => "", :precision => 0) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU VOLUME - JOURNÉE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("week-line-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: [
            <% @values.hourly.last(170).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%e %^b %R") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @values.hourly.last(170).each do |value| %>
              <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU PRIX - SEMAINE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      elements: {
        point:{
          radius: 0
        }
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("week-bar-<%= @coin.name %>"), {
    type: 'bar',
    data: {
      labels: [
            <% @values.hourly.last(170).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%e %^b %R") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "bar",
          backgroundColor: "#38A169",
          backgroundColorHover: "#38A169",
          data: [
            <% @values.hourly.last(170).each do |value| %>
              <%= number_to_currency(value.volume, :unit => "", :separator => ".", :delimiter => "", :precision => 0) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU VOLUME - SEMAINE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("year-line-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: [
            <% @values.daily.last(370).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%e %^b") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @values.daily.last(370).each do |value| %>
              <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU PRIX - ANNÉE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      elements: {
        point:{
          radius: 0
        }
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("year-bar-<%= @coin.name %>"), {
    type: 'bar',
    data: {
      labels: [
            <% @values.daily.last(370).each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%e %^b") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "bar",
          backgroundColor: "#38A169",
          backgroundColorHover: "#38A169",
          data: [
            <% @values.daily.last(370).each do |value| %>
              <%= number_to_currency(value.volume, :unit => "", :separator => ".", :delimiter => "", :precision => 0) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU VOLUME - ANNÉE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("forever-line-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: [
            <% @values.daily.each do |value| %>
              "<%= Time.at((value.time)/1000).strftime("%e %^b %Y") %>",
            <% end %>
          ],
      datasets: [{
          label: "<%= @coin.symbol.upcase %> / USD",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @values.daily.each do |value| %>
              <%= number_to_currency(value.price, :unit => "", :separator => ".", :delimiter => "", :precision => 3) %>,
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'ÉVOLUTION DU PRIX - HISTOIRE',
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      elements: {
        point:{
          radius: 0
        }
      },
      legend: { display: false }
    }
});
</script>
<!-- Chart.js -->