<div class="bg-gray-200 shadow-2xl rounded-lg my-3 px-8 py-4 w-8/12">
  <div class="flex justify-between text-gray-700 mx-auto">
    <div class="my-auto mx-6">
      <img class="w-16 h-16 rounded-full object-cover my-auto shadow-2xl" src="<%= @coin.logo %>" alt="Logo <%= @coin.name %>">
      <p class="w-16 my-auto text-lg text-center"><%= @coin.symbol %></p>
    </div>
    <div class="flex my-auto">
      <p class="w-64 my-auto text-2xl text-center">$ <%= @coin.values.last.price %></p>
      <p class="w-64 my-auto text-2xl text-center">$ <%= @coin.values.last.volume %></p>
    </div>
    <svg fill="none" viewBox="0 0 24 24"  class="my-auto w-8 h-8 mx-8" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
    </svg>
  </div>
  <div class="chart-container relative w-2/4 h-1/12 rounded-lg p-5 bg-gray-100">
    <canvas id="line-chart-<%= @coin.name %>"></canvas>
    <canvas id="bar-chart-<%= @coin.name %>"></canvas>
  </div>
</div>

<script>
new Chart(document.getElementById("line-chart-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: ["JEU","VEN","SAM","DIM","LUN","MAR","MER"],
      datasets: [{
          label: "Prix",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @coin.values.each do |value| %>
            <%= "#{value.price}," %>          
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: false,
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("bar-chart-<%= @coin.name %>"), {
    type: 'bar',
    data: {
      labels: ["JEU","VEN","SAM","DIM","LUN","MAR","MER"],
      datasets: [{
          label: "Volume",
          type: "bar",
          backgroundColor: "rgba(0,20,0,0.2)",
          backgroundColorHover: "#3e95cd",
          data: [
            <% @coin.values.each do |value| %>
            <%= "#{value.volume}," %>          
            <% end %>
          ]
        }
      ]
    },
    options: {
      title: {
        display: false,
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});
</script>