<div class="chart-container flex justify-around relative w-2/4 h-1/12 rounded-lg p-5 bg-gray-100">
<canvas id="line-chart-<%= @coin.name %>"></canvas>
<canvas id="bar-chart-<%= @coin.name %>"></canvas>
</div>

<script>
new Chart(document.getElementById("line-chart-<%= @coin.name %>"), {
    type: 'line',
    data: {
      labels: ["JEU","VEN","SAM","DIM","LUN","MAR","MER"],
      datasets: [{
          label: "Prix",
          type: "line",
          borderColor: "#48bb78",
          data: [
            <% @coin.values.each do |value| %>
            <%= "#{value.price}," %>          
            <% end %>
          ],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: false,
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("bar-chart-<%= @coin.name %>"), {
    type: 'bar',
    data: {
      labels: ["JEU","VEN","SAM","DIM","LUN","MAR","MER"],
      datasets: [{
          label: "Volume",
          type: "bar",
          backgroundColor: "rgba(0,20,0,0.2)",
          backgroundColorHover: "#3e95cd",
          data: [
            <% @coin.values.each do |value| %>
            <%= "#{value.volume}," %>          
            <% end %>
          ]
        }
      ]
    },
    options: {
      title: {
        display: false,
        gridLines: {
					display: false,
					drawBorder: false
				}
      },
      legend: { display: false }
    }
});
</script>