<% provide(:title, " | #{@coin.name.capitalize}") %>

<div class="bg-gray-200 shadow-2xl rounded-lg mx-auto mt-6 mb-4 px-12 py-4 w-10/12">
  <!-- COIN HEADER -->
  <div class="w-full mx-auto block flex-grow text-gray-700 border-gray-300 border-b-2 lg:flex lg:items-center lg:justify-between">
    <div class="block sm:my-8 flex justify-center">
      <%= link_to image_tag((@coin.logo), class: "w-16 h-16 rounded-full object-cover my-auto shadow-2xl"), root_path %>
      <%= link_to @coin.name, root_path, class: "w-16 my-auto text-lg uppercase font-bold ml-3 text-center" %>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        PRIX

      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_price %>
      </p>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        VOLUME
      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_volume %>
      </p>
    </div>
    <div class="block lg:inline-block sm:my-8 flex justify-center">
      <p class="my-auto sm:mx-8 text-sm tracking-widest text-center">
        CAPITALISATION
      </p>
      <p class="my-auto text-2xl font-medium text-center">
        <%= link_to @coin.last_market_cap %>
      </p>
    </div>
    <div id="likebutton<%=@coin.id %>" class="flex justify-center">
      <% if current_user %>
        <% if current_user.already_liked(@coin) %>
          <%= link_to image_tag(('unlike.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selection_path(id: @coin), method: :delete, remote:true %>
        <% else %>
          <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), selections_path(id: @coin), method: :post, remote:true %>
        <% end %>
      <% else %>
        <%= link_to image_tag(('like.png'), class: "w-5 h-5 lg:w-8 lg:h-8"), new_user_registration_path %>
      <% end %>
      </div>
  </div>
  <!-- COIN HEADER -->

  <!-- COIN DATATABLE -->
  <div class="w-full mb-5 mt-3 lg:justify-between sm:justify-center">
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="today-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="today-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="week-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="week-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    </div>
    <div class="flex flex-wrap">
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="year-line-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
      <div class="chart-container w-2/4 relative rounded-lg p-5">
        <canvas id="year-bar-<%= @coin.name %>" width="550" height="300"></canvas>
      </div>
    </div>
    <div class="chart-container relative rounded-lg p-5 mx-auto">
      <canvas id="forever-line-<%= @coin.name %>" width="1000" height="500"></canvas>
    </div>
    <!-- COIN DATATABLE -->
</div>

<script>
  <%= render 'assets/charts_coin.js' %>
</script>